// primary colors
$primary: #0275d8;
$primary-hover-bg: #0b5ed7;
$primary-hover-border: #0a58ca;
$primary-pressed: #075ba5;

// default colors
$default: #f8f9fa;
$default-hover-bg: #f1f4f8;
$default-hover-border: #ecf0f6;
$default-pressed: #cfd2d5;

// success colors
$success: #42ba96;
$success-hover-bg: #2cac86;
$success-hover-border: #289776;
$success-pressed: #379c7e;

// info colors
$info: #54b4d3;
$info-hover-bg: #3da4c7;
$info-hover-border: #3691af;
$info-pressed: #4592ab;

// warning colors
$warning: #ffc107;
$warning-hover-bg: #f8be10;
$warning-hover-border: #f2bb16;
$warning-pressed: #d6a512;

// danger colors
$danger: #d4152b;
$danger-hover-bg: #ce3345;
$danger-hover-border: #bf2f40;
$danger-pressed: #b61b2d;

// dark colors
$dark: #332d2d;
$dark-hover-bg: #161c2d;
$dark-hover-border: #161c2d;
$dark-pressed: #2b2626;

// link colors
$link: transparent;
$link-hover-bg: transparent;
$link-hover-border: transparent;
$link-pressed: transparent;

// font
$text-black: #332d2d;
$text-white: #ffffff;
$text-primary: #0275d8;

// border size
$outline-border-size: 2px;
$border-radius: 6px;
