// Base color variables
$bg-white: #ffffff;
$border-color: #d2d2d2;
$border-focus: #0275d8;
$border-focus-out: #f30e0e;
$border-green: #009788;

$text-black: #212121;
$text-gray: #9b9b9b;
$text-green: #009788;
$text-red: #f30e0e;
$text-select: #565151;

$font-size-input: 16px;
$font-size-input-label-sm: 12px;

$bg-red: #f30e0e;
$bg-black: #000000;
$bg-gray: #f0f0f0;

// zt-data-grid variables
$table-header: #ffffff;
$table-border-color: #eeeeee;
$table-border: 1px;

$table-font-size: 12px;
$table-header-font-color: #b6b3b3;
$table-body-hover-color: #d4cbcb;
$table-body-stripted-color: #f0e9e9;
